<!DOCTYPE html> 
<html lang="en"> 
    <head>     
        <meta charset="UTF-8"> 
        <title>My Website - About</title>   
        <link rel="stylesheet" href="/static/css/app.css"> 
    </head> 
<body>     
    <h1>Candice de Lisser</h1>     
    <p>I am a student at the University of the West Indies; I double major in General Physics and Computer Science. 
        I am also a student of Iron Lotus Academy of Martial Arts, with the rank of level 1 black sash in kung fu. 
            The things that matter the most to me are enlightenment, being authentic, my friends, my cat, cats in general, cute animals, anime and martial arts.  
            I'd like to end up with a career that involves Physics, Computer Science and a bit of Medicine; 
            like something within the field of Bionics, but I want to start out with a job in Computer Science. 
            My favourite place is Japan; I'd like to go back there.</p> 
        </body> 
        </html>

